@{
    ViewData["Title"] = "Carro";
}

@model EstacionamentoDotnet6.Models.Carro

<h1>Cadastro de Carros</h1>

<h4 class="text-black">Carros</h4>
<hr />

<div class="row">
    <div class="col-md-3">
        <form action="Carro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Placa">Modelo</label>
                <input class="form-control" asp-for="NomeCarro" />
                <span asp-validation-for="NomeCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Marca">Marca</label>
                <input class="form-control" asp-for="Marca" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Tipo">Tipo</label>
                <input class="form-control" asp-for="Modelo" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Placa">Placa</label>
                <input class="form-control" asp-for="Placa" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" id="cadastro" class="btn btn-primary">
            </div>
        </form>

        <div>
            <a id="back" class="btn btn-outline-primary" asp-action="#">Voltar</a>
        </div>
    </div>
 
</div>