@{
       ViewData ["Title"] = "Pagamentos";
}

@model EstacionamentoDotnet6.Models.Pagamento

<h1 class="text-withe">Lista de Pagamentos</h1>

<h4 class="text-black">Pagamentos</h4>
<hr />
 <div class="row">
     <div class="col-md-3">
         <form action="Estadia">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <div class="from-group">
                    <label asp-for="Total" class="control-label">Total</label>
                    <input asp-for="Total" class="form-control">
             </div>
             <div class="form-group">
                    <label asp-for="Pago" class="control-label">Pago</label>
                    <input id="check" type="checkbox" asp-for="Pago" class="form-check-input" value="">
             </div>              

                <div class="form-group">
                    <input id="Cad" type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
         </form>

         <div>
             <a class="btn btn-outline-primary" asp-action="#">Voltar</a>
         </div>
     </div>
 </div>