
/*--Ajuste BTN--*/

#cadastro, .btn{
    margin-top: 1rem;
}

#back, .btn{
    margin-top: 1rem;
}

/*--Ajuste check-box--*/
#checkbox, .form-check-input{
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}


/*--Ajuste label--*/

label{
    margin-top: 1rem;
}